.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: auto;
  margin-bottom: 50px;
  gap: 2em;
}

.link {
  font-size: 25px;
  padding: 18px;
  border: 1px solid rgb(11, 15, 238);
  background-color: rgb(255, 255, 255);
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(46, 45, 45, 0.47);
  border-radius: 10px;
}
.link:hover {
  background-color: rgb(230, 232, 255);
}
